.col-lg-6.col-lg-offset-3
  .panel.panel-default
    .panel-body
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal', method: :put }) do |f|
        %fieldset
          %legend Edit #{resource_name.to_s.humanize}
          = devise_error_messages!

          .form-group
            = f.label :name, class: 'col-lg-2 control-label'
            .col-lg-10
              = f.text_field :name, class: 'form-control'

          .form-group
            = f.label :email, class: 'col-lg-2 control-label'
            .col-lg-10
              = f.email_field :email, class: 'form-control'

          .form-group
            = f.label :password, class: 'col-lg-2 control-label'
            .col-lg-10
              = f.password_field :password, class: 'form-control', autocomplete: "off"
            %i.col-lg-10.col-lg-offset-2 (leave blank if you don't want to change it)

          .form-group
            = f.label :password_confirmation, class: 'col-lg-2 control-label'
            .col-lg-10
              = f.password_field :password_confirmation, class: 'form-control'

          .form-group
            = f.label :current_password, class: 'col-lg-2 control-label'
            .col-lg-10
              = f.password_field :current_password, class: 'form-control', autocomplete: "off"
            %i.col-lg-10.col-lg-offset-2 (we need your current password to confirm your changes)

          .form-group
            .col-lg-10.col-lg-offset-2
              = f.submit "Update", class: 'btn btn-lg btn-primary'

        %hr
        %h4 Cancel my account
        %p Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
        %p= link_to "Back", :back
