%p= "Hiya #{@user.name}. You registered for '#{@course.name}' a while ago, but it looks like you might be stuck. That's pretty normal, and we're here to help."
%p= "If you're not stuck, cool! We won't bother you about it again. If you are, just reply to this email and let us know what you're having trouble with and we'll do our best to help."
%br
%p= "Keep being awesome. - Joe (jmmastey@gmail.com)"
