%h3= "Hey #{@user.name}. How cool is this?"
%p= "You've been enrolled in '#{@course.name}', which is pretty exciting to us. You can access it here at any time:"
%p= link_to(@course.name, course_url(@course))
%p If you get stuck or want some code review, feel free to respond to this email and we'll be happy to help.
%p= "Let us know if you have any questions or problems. Good luck!"
