%h3= "Hey #{@user.name}. How cool is this?"
%p= "You've been enrolled in '#{@course.name}', how sweet is that? You can access it here at any time:"
%p= link_to(@course.name, course_url(@course))
%p= "Let us know if you have any questions or problems. Good luck!"
