%h3= "It's been really lonely without you."
%p= "Hey there #{@user.name}. You signed up for LevelUpRails recently, but you haven't registered for any courses."
%p= "We don't really have anything to offer as an incentive other than our undying respect, but please let us know if there's anything we can do help you get up and running."
%p= link_to("Go get started!", courses_url)
%p
  If you're unsure what to study (or a little intimidated), check out our free
  %a{href: 'https://levelupslackinvites.herokuapp.com/'} Slack community
  , where you can get help from other learners and experts.
%br
%p= "Have an awesome day. - Joe (jmmastey@gmail.com)"
