%h3= "It's been really lonely without you."
%p= "Hey there #{@user.name}. You signed up for LevelUpRails recently, but you haven't registered for any courses."
%p= "We don't really have anything to offer as an incentive other than our undying respect, but please let us know if there's anything we can do help you get up and running."
%p= link_to("Why not take a look at the courses?", courses_url)
%br
%p= "Have an awesome day. - The Management"
