%table.table.table-striped.table-hover
  %tr
    %th Category
    %th{colspan: 2} Completion
  - @progress.each do |category|
    %tr{class: category[:handle]}
      %td= category[:name]
      %td.completion-stat
        = "#{category[:total_completed]} / #{category[:total_skills]}"
      %td.completion
        .progress
          - unless category[:total_completed] == category[:total_skills]
            - completion = (category[:total_completed].to_f/category[:total_skills])*100
            .progress-bar{style: "width:#{completion}%"}
          - else
            .progress-bar.progress-bar-success{style: 'width:100%'}
