- summary = progress_summary_for(@user).first
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
%script{nonce: script_nonce}
  = "chartData = function() { return ["
  = "  ['Date', '#{summary[:course_name]}'],"
  - summary[:progress].each do |date, remaining|
    = "['#{date}', #{remaining}],"
  = "] };"


%script{nonce: script_nonce}
  ="google.load('visualization', '1', { packages:['corechart'] });"
  ="google.setOnLoadCallback(drawChart);"
  ="function drawChart() {"
  ="  var data = google.visualization.arrayToDataTable(chartData());"

  ="  var options = {"
  ="    hAxis: {title: 'Skills Remaining',  titleTextStyle: {color: '#333'}},"
  ="    vAxis: {minValue: 0}"
  ="  };"

  ="  var chart = new google.visualization.AreaChart(document.getElementById('progress_burndown'));"
  ="  chart.draw(data, options);"
  ="}"

<div id="progress_burndown" class='full'></div>
