= cache user do
  .col-lg-4
    .user-profile.panel.panel-primary{class: "user-#{user.id}"}
      .panel-body
        .row
          .col-lg-4
            = gravatar_for(user, 100)
            .activity-feed
              - feed_items_for(user).each do |item|
                .item{class: item[:tags].join(" "), title: item[:label], data: {toggle: "tooltip", placement: "top"}} &nbsp;

          .col-lg-8
            %h4
              %a{href: user_path(user)}= user.name
            - user.courses.by_date.take(2).each do |course|
              %h5= course.name
              .progress
                .progress-bar{style: "width:#{completion_percent_for(course, user)}%"}
