.content.shadow-z-2
  %p= link_to "â† Back to Users List", users_path

  .page-header
    %h3= "#{@user.name}'s Profile"

  .row
    .col-md-8
      - if @user == current_user
        %span= link_to "Edit Profile", edit_user_registration_path, id: 'edit-profile'
        |
        %span= link_to "Unsubscribe from Emails", unsubscribe_path, id: 'unsubscribe'

      = render partial: 'enrolled_courses', locals: { user: @user }

    .col-md-4
      = gravatar_for(@user, 160)

  = render partial: 'deadlines' if @user == current_user
  = render partial: 'progress'
