.col-lg-12.linkback
  = link_to "â† Back to Users List", :back

.col-lg-2
  = gravatar_image_tag(@user.email, alt: @user.name, class: "gravatar", gravatar: { size: 160 })

.col-lg-5
  %h3= "#{@user.name}'s Profile"
  %span= link_to "Edit Profile", edit_user_registration_path, id: 'edit-profile'

  = render partial: 'enrolled_courses', locals: { user: @user }
  = render partial: 'recent_activity', locals: { user: @user }

.col-lg-5.skills
  = render partial: 'progress', locals: { user: @user }
