.col-lg-8
  = gravatar_image_tag(@user.email, alt: @user.name, class: "gravatar")
  %h3= "#{@user.name}'s Profile"

  %h4 Recent Activity
  %ul.recent_activity
    - user_feed_items.each do |feed_item|
      %li{ class: feed_item_tags(feed_item) }
        = render_feed_item(feed_item)

.col-lg-4.skills
  = render partial: 'skill_summary'

