%p Sweet, last one. You've passed through the veil of ruby magic, slayed the dragon of testing, and now you're outta here. Well done! We're going to cover one or two more "squishy" topics, and then that's all I've got to say on the topic.

.page-header
  %h3 Foo!
  %p Foo!
  = exercise_block_for "landscape" do |e|
    - e.question ""
  = exercise_block_for "ambiguity" do |e|
    - e.question ""
  = exercise_block_for "email_etiquette" do |e|
    - e.question ""
  = exercise_block_for "meeting_etiquette" do |e|
    - e.question ""
  = exercise_block_for "asking" do |e|
    - e.question ""
  = exercise_block_for "preparing" do |e|
    - e.question ""
  = exercise_block_for "criticism" do |e|
    - e.question ""
  = exercise_block_for "presentation" do |e|
    - e.question ""
  = exercise_block_for "burnout" do |e|
    - e.question ""
  = exercise_block_for "pown" do |e|
    - e.question ""
