.content.module
  .page-header
    %h1 Basic Test Engineering

  .row
    .col-lg-8

      .page-header
        %h3 The Testing Mindset
        = exercise_block_for "test", "trustno1" do |e|
          = e.question "Foo!"
        = exercise_block_for "test", "tdd_bdd" do |e|
          = e.question "Foo!"
        = exercise_block_for "test", "redgreen" do |e|
          = e.question "Foo!"
        = exercise_block_for "test", "flapping" do |e|
          = e.question "Foo!"

      .page-header
        %h3 Your Toolbelt
        = exercise_block_for "test", "capybara" do |e|
          = e.question "Foo!"
        = exercise_block_for "test", "test_types" do |e|
          = e.question "Foo!"

      .page-header
        %h3 Strategies for Better Testing
        = exercise_block_for "test", "wanttosee" do |e|
          = e.question "Foo!"
        = exercise_block_for "test", "meaningful" do |e|
          = e.question "Foo!"
        = exercise_block_for "test", "failtests" do |e|
          = e.question "Foo!"

      .page-header
        %h3 It's Not All Automatic
        = exercise_block_for "test", "manual" do |e|
          = e.question "Foo!"
        = exercise_block_for "test", "test_plans" do |e|
          = e.question "Foo!"
        = exercise_block_for "test", "paths" do |e|
          = e.question "Foo!"

    .col-lg-4.resources{role:'complementary'}
      .bs-component
        .panel.panel-basic
          = render partial: 'modules/test_resources'
