- course_summary = CategorySummary.summarize_course(course, summary)
- completion_percent = ((course_summary[:completed] / course_summary[:total].to_f) * 100).ceil

.list-group-item.row{ class: ['course', course.handle] }
  .col-lg-6
    %h3= course.name
    %p.description= course.description
    %hr
    %p.completion= "#{course_summary[:completed]} of #{course_summary[:total]} skills completed"
    .progress
      .progress-bar.progress-bar-success{style: "width: #{completion_percent}%" }

  - categories = course.categories.reject(&:hidden?).sort_by(&:sort_order)
  .col-lg-6
    - if categories.any?
      %ul.categories.list-group
        - categories.each do |category|
          = render partial: 'course_completion', locals: { category: category, completion: summary[category.handle] }
