.hero
  = image_tag("home/stock.jpg", width: '100%')
  %h1 LevelUpRails will help you learn the Rails stack.
  %p LevelUpRails is <strong>more than a tutorial</strong>. While tutorials are great for teaching specific syntax, they fall short when it comes to teaching you all the tools you really need to develop. Instead, we want to provide you with everything you need to really be successful.


.roadmap
  %h2 Instead, you'll get...

  .home-section
    %h3
      %i.fa.fa-map-signs
      Context
    %p Get a complete picture of skills you need, and what you can skip for now. Understand the real-world use of each technology.

  .home-section
    %h3 
      %i.fa.fa-book
      Resources
    %p We'll point you toward the easiest, most efficient resources to learn each skill. Use text, video, tutorials and more to become an expert.

  .home-section
    %h3
      %i.fa.fa-check
      Verification
    %p Once you know the material, get real verification of your skills with <a href='http://github.com/jmmastey/level_up_exercises'>challenging assignments</a> that will stretch you.


.signups
  %h2 Pick a course and sign up...

  .home-card.shadow-z-1.baseline_1
    = image_tag("courses/photo_baseline_1.jpg", width: '100%')
    %h3 Engineering Baseline I
    %p This is the best course for learning how to do modern software development on the Rails Prime stack. Don't worry if you don't know what that means yet, we'll teach you.
    = form_tag enroll_path(1), method: :post, class: 'register' do
      %button.btn.btn-lowprofile Enroll

  .home-card.shadow-z-1.scaling
    = image_tag("courses/photo_scaling.jpg", width: '100%')
    %h3 Performance and Scaling
    %p Take your skills to the next level and learn to deal with applications that have to operate under huge load. You'll learn all the idiomatic tricks that Rails provides you to handle capacity and keep things running smoothly.
    = form_tag enroll_path(6), method: :post, class: 'register' do
      %button.btn.btn-lowprofile Enroll

.support
  %h2 And we'll help you!
  %p Learning a new stack is a big challenge, so we want to support you every step of the way. Ask questions and provide feedback in the app. Get <a href='https://github.com/jmmastey/level_up_exercises/pulls'>feedback on your code</a>.
  %p We want to give you every chance to succeed.
