.content.category.shadow-z-2
  = render partial: 'stuck_message' if user_is_stuck?(current_user, @category)
  .page-header
    %h1= @category.name

  .course-material= render partial: "categories/#{@category.handle}"

.resources{role:'complementary'}
  = render partial: 'difficulty' if @category.difficulty
  .panel.panel-primary.shadow-z-1
    .panel-heading
      %h4 More Resources
    .panel-body= render partial: "categories/#{@category.handle}_resources"

    .panel-heading
      %h4 Exercises From This Lesson
    .panel-body= render partial: "categories/exercises"
