.content.module
  = render partial: 'stuck_message' if user_is_stuck?(current_user, @module)
  .page-header
    %h1= @module.name

  .row
    .col-lg-8= render partial: "modules/#{@module.handle}"
    .col-lg-4.resources{role:'complementary'}
      = render partial: 'difficulty' if @module.difficulty
      .bs-component
        .panel.panel-basic
          = render partial: "modules/#{@module.handle}_resources"
