.list-group-item.row{ class: ['course', course.handle] }
  .col-lg-5.shadow-z-1.summary
    .course-photo= image_tag("courses/photo_#{course.handle}.jpg", width: '100%')
    .page-header
      %h1= course.name
    %p.description= course.description
    %hr

    %p.completion= completion_summary_for(course)
    .progress
      .progress-bar.progress-bar-success{"data-width" => completion_percent_for(course)}

  .col-lg-7
    %ul.categories.list-group
      = render collection: course.categories.sorted, partial: 'courses/category'
