.list-group-item.row{ class: ['course', course.handle] }
  .col-lg-6
    %h3= course.name
    %p.description= course.description
    %hr

    - summary = current_user.summary.for_course(course)
    %p.completion= "#{summary[:completed]} of #{summary[:total]} skills completed"
    .progress
      .progress-bar.progress-bar-success{style: "width: #{completion_percent_for(summary)}%" }

  .col-lg-6
    %ul.categories.list-group
      = render collection: course.categories.sorted, partial: 'courses/category'
