- categories = course.categories.sorted.map(&:name)
.col-lg-6
  .course.signup.shadow-z-1{ class: [course.handle] }
    = image_tag("courses/photo_#{course.handle}.jpg", width: '100%')
    %h3= course.name
    %p.description= course.description

    - if current_user.courses.include?(course)
      = link_to 'View course', course, class: 'btn btn-lowprofile register'
    - else
      = form_tag enroll_path(course), method: :post, class: 'register' do
        %button.btn.btn-lowprofile Enroll
