- categories = course.categories.sorted.map(&:name)
.col-lg-4.course.signup{ class: [course.handle] }
  %h3= course.name
  .icon= image_tag "courses/#{course.handle}.png"
  %p.description= course.description

  - if current_user.courses.include?(course)
    = link_to 'View course', course, class: 'btn btn-primary btn-lg register'
  - else
    = form_tag enroll_path(course), method: :post, class: 'register' do
      %button.btn.btn-primary.btn-lg Enroll
