- user_role = current_user.admin? ? "(admin)" : ""
%header.navbar.navbar-default{ role: "navigation" }
  .container
    .navbar-brand
      %a{ href: root_path }
        %i.fa.fa-arrow-up
        Level UP

    %button.navbar-toggle{ data: { toggle: 'collapse', target: '.navbar-collapse' } }
      %span.sr-only Toggle navigation
      %i.fa.fa-cog

    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Courses", courses_path
        - if current_user.signed_in?
          %li.profile= link_to "#{current_user.name} #{user_role}", user_path(current_user)
          %li= link_to 'Logout', destroy_user_session_path, method: :delete

        - else
          %li= link_to 'Sign In', new_user_session_path
          %li= link_to 'Sign Up', new_user_registration_path 
