!!!
%html
  %head
    %title Level UP
    = stylesheet_link_tag    "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css"
    = stylesheet_link_tag    "//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css"
    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css"
    = stylesheet_link_tag    "//fonts.googleapis.com/css?family=Patrick+Hand+SC"

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application", async: true
    = csrf_meta_tags

  %body
    = render partial: 'layouts/navigation'

    .container.main
      = yield

      %footer
        .container
          .col-lg-10
            This project made with ❤️
            by Joseph Mastey (<a href='mailto:jmmastey@gmail.com'>jmmastey@gmail.com</a>).
            All facts, opinions and rants on this site are surely incorrect and not endorsed by anyone.
            Pull requests <a href='https://github.com/jmmastey/level_up'>emphatically welcome</a>.
            Creative Commons images thanks to <a href='http://wocintechchat.com'>WOCIT</a>,
            <a href='https://www.flickr.com/photos/36217981@N02/13179539644'>Tim Adams</a>,
            <a href='https://www.flickr.com/photos/iconeon/146855712'>Devyn Caldwell</a>,
            <a href='https://www.flickr.com/photos/cogdog/5528772562/'>Alan Levine</a>.

    = render partial: "layouts/feedback_modal"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
    = render partial: "layouts/flash"
