!!!
%html
  %head
    %title Learnenova
    = stylesheet_link_tag   "//netdna.bootstrapcdn.com/bootswatch/3.1.1/lumen/bootstrap.min.css"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    - flash.each do |name, msg|
      %div, msg, class: name

    = render partial: 'layouts/navigation'
    .container 
      = yield
